.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

.left {
    background-color: #FCD81B;
    border-right: #000 3px solid;
}

.image{
    display: flex;
    justify-content: center;
    margin-top: -155px;
}
.ingredients-image{
    width:100%;
    height: 100%;
    mix-blend-mode: multiply;
    object-fit: cover;
}

.text {
    display: flex;
    justify-content: center;
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}


.top {
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    margin-top: -65px;
}

.title {
    font-family: 'Days One';
    color: #FCD81B;
    text-shadow: 0 4px 15px rgba(86, 86, 86, 0.2);
}

.subtitle {
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.card {
    border: 2px solid #000;
    border-radius: 50px;
    padding: 40px;
    width: 80%;
    max-width: 400px;
    text-align: center;

    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.register {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.register label {
    font-family: 'Darker Grotesque', sans-serif;
    text-align: left;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}

input {
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: #e0e0e0;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
}

.but {
    display: flex;
    justify-content: center;
}

.submit {
    margin-top: 10px;
    font-size: 23px;
    width: 220px;
    padding: 8px;
    border-radius: 25px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    background-color: #FCD81B;

}

.or {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    margin-top: 1px;
    font-weight: 700;
}

.s {
    margin-top: -15px;
}
.signin {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    padding: 5px;
    border-radius: 25px;
    background-color: #FCD81B;
    text-align: center;
}
