@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

header {
    padding: 10px 5% 20px;
    background-color: white;
}

.top-auth {
    display: flex;
    justify-content: flex-end;

    margin-bottom: 10px;

}



.top-auth a {
    text-decoration: none;
    font-size: 12px;
    font-family: 'Days One';
    padding: 10px 15px;
    font-weight: bold;
    text-transform: lowercase;
    font-size: 18px;
}

.btn-signup {
    background-color: #f5d33e;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

}

.btn-signin {
    background-color: #000;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.logo {
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin-top: -95px;
}

.logo h1 {
    font-family: 'Great Vibes', cursive;
}

.box {
    display: flex;
    justify-content: center;
    background-color: #F3E38B;
    align-items: center;
    gap: 150px;
    padding: 10px 40px;
    width: 75%;
    border-radius: 50px;
    margin-left: 150px;
    border: 3px #F6D110 solid;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

}

.search-input {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    width: 400px;
    outline: none;
    font-family: var(--primary-font);
    font-size: 18px;
}

.search-nav {
    display: flex;
    gap: 35px;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Days One';
    white-space: nowrap;
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
    cursor: pointer;
}

.nav-link:hover {

    transform: scale(1.09);
}
.search-cont {
    position: relative;
    width: 100%;
    max-width: 500px; 
    margin: 0 auto;
}

.search-input {
    width: 100%;
    padding: 12px 20px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
}

.search-results {
    position: absolute;
    top: 105%; 
    left: 0;
    right: 0;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 999; 
    max-height: 300px;
    overflow-y: auto;
}

.search-results li {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 12px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
    transition: background 0.2s;
}

.search-results li:hover {
    background-color: #FCD81B; 
}
.mini-recipe-img {
    width: 45px;
    height: 45px;
    border-radius: 8px;
    object-fit: cover;
}

.recipe-title {
    font-weight: 600;
    font-family: 'Darker Grotesque', sans-serif;
    color: #333;
}