<header>
  <div class="top-auth">
    <ng-container *ngIf="!isLoggedIn()">
      <a routerLink="/register" class="btn-signup">sign up</a>
      <a routerLink="/login" class="btn-signin">sign in</a>
    </ng-container>

    <ng-container *ngIf="isLoggedIn()">
      <a (click)="logout()" class="btn-signin" style="cursor: pointer;">logout</a>
    </ng-container>
  </div>

  <div class="logo">
    <h1>FoodieBook</h1>
  </div>
  <div class="box">
    <div class="search-cont">
      <input type="text" placeholder="Search recipes..." class="search-input" [(ngModel)]="searchQuery"
        (input)="onSearch($event)" />

      <ul class="search-dropdown" *ngIf="searchResults.length > 0">
        <li *ngFor="let recipe of searchResults" (click)="goToRecipe(recipe.recipe_id)">
          {{ recipe.name }}
        </li>
      </ul>
    </div>
    <nav class="search-nav">
      <a routerLink="/" class="nav-link">Home</a>
      <a (click)="scrollToSection('categories')" class="nav-link">Categories</a>
      <a routerLink="/own-recipe" class="nav-link">Add Recipe</a>
      <a routerLink="/account" class="nav-link">Account</a>
    </nav>
  </div>
</header>