@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Instrument+Serif:ital@0;1&display=swap');

:root {
  --primary-font: 'Instrument Serif', serif;
  --logo-font: 'Great Vibes', cursive;
  --bg-yellow: #fce166;
  --main-bg-color: #fff7c9;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: var(--main-bg-color) !important;
  scroll-behavior: smooth;
}

app-root, mat-sidenav-container, .page-wrapper, main {
  background-color: var(--main-bg-color) !important;
  display: block;
}

header, nav {
  background-color: transparent !important;
}