.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    margin-top: -65px;
}

.log {
    font-family: 'Days One';
    color: #FCD81B;
    text-align: center;
    text-shadow: 0 4px 15px rgba(86, 86, 86, 0.2);
}

.log p {
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000;

}


.card {
    border: 2px solid #000;
    border-radius: 50px;
    padding: 40px;
    width: 55%;
    height: 390px;
    max-width: 400px;
    text-align: center;

    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.login {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}

.login label {
    font-family: 'Darker Grotesque', sans-serif;
    text-align: left;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}

input {
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: #e0e0e0;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
}

.forgot {
    text-align: left;
    margin-left: 20px;
    margin-top: -7px;
    font-size: 15px;
}

.but {
    display: flex;
    justify-content: center;
}

.submit {
    margin-top: 30px;
    font-size: 23px;
    width: 220px;
    padding: 8px;
    border-radius: 25px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    background-color: #FCD81B;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submit:hover {
    background-color: #000000;
    color: #FCD81B;
}

.right {
    background-color: #FCD81B;
    border-left: #000 3px solid;
    position: relative;
    flex: 1;
    height: 100vh;
    position: relative;

    background-image: url('https://i.pinimg.com/736x/33/26/a2/3326a2dc3520593cd27b59928bf65c92.jpg');
    background-repeat: no-repeat;

    background-size: 100%;
    background-position: center;

}



.text {
    font-family: 'Great Vibes', cursive;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 25px;
}