<app-header></app-header>

<section class="hero">
  <div class="slider-container">
    <div class="slides" [style.transform]="'translateX(-' + currentSlideIndex * 100 + '%)'">
      <img *ngFor="let slide of slides" [src]="slide" alt="Delicious Food" />
    </div>

    <div class="slider-overlay"></div>

    <div class="hero-content">
      <h2 class="simply">SIMPLY</h2>
      <h2 class="delicious">DELICIOUS</h2>
    </div>

    <button class="arrow left-arrow" (click)="prevSlide()">&#10094;</button>
    <button class="arrow right-arrow" (click)="nextSlideManual()">&#10095;</button>
    <div class="dots">
      <span *ngFor="let slide of slides; let i = index" class="dot" [class.active-dot]="i === currentSlideIndex"
        (click)="goToSlide(i)">
      </span>
    </div>
  </div>
</section>




<section class="txt">
  <div class="line"></div>
  <h1 class="title">Popular Recipes</h1>
  <div class="line"></div>
</section>

<div class="popular-recipes-section">
  <div class="popular-recipe-card" *ngFor="let recipe of popularRecipes" [routerLink]="['/recipe', recipe.id]">
    <div class="popular-recipe-image">
      <img [src]="recipe.image" [alt]="recipe.name">
    </div>

    <span class="popular-recipe-name">{{ recipe.name }}</span>

    <div class="popular-rating" *ngIf="recipe.average_rating > 0">
      ★ {{ recipe.average_rating }} ({{ recipe.reviews_count }})
    </div>
  </div>
</div>


<section class="cat" id="categories">
  <div class="tit">
    <h1>Categories</h1>
  </div>

  <div class="cards">
    <div class="category" *ngFor="let category of categories" [routerLink]="['/category', category.id]">
      <img [src]="category.image" [alt]="category.name">
      <p>{{ category.name }}</p>
    </div>
  </div>

</section>



<footer class="main-footer">
  <div class="footer-content">
    <div class="footer-logo">FoodieBook</div>
    <nav class="footer-links">
      <a routerLink="/">Home</a>
      <a routerLink="/about">About Us</a>
      <a routerLink="/contact">Contacts</a>
    </nav>
    <p class="copyright">© 2026 FoodieBook. All rights reserved.</p>
  </div>
</footer>